:root {
	--font-body: 'Inter', sans-serif;
	--font-mono: monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-bg-0-dark: hsl(224, 44%, 5%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.9);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	margin: 0;
	overflow: hidden;
	font-size: 12pt;
}

h1,
h2 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	/* font-size: 2rem; */
	text-align: center;
}

h2 {
	/* font-size: 1.5rem; */
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	background-color: white;
	padding: 0.75rem 1rem;
	border-radius: 0;
	border: 1px solid #0e0e0e;
	font-size: inherit;
	font-family: inherit;
	color: #0e0e0e;
}

button {
	cursor: pointer;
	/* min-width: 100px; */
	max-width: max-content;
	white-space: nowrap;
	overflow: clip;

	display: flex;
	align-items: center;
	gap: 1rem;

	.icon {
		font-size: 1.5rem;
		line-height: 1rem;
	}
}

button:disabled {
	opacity: 0.2;
	cursor: not-allowed;
}

button.primary {
	background-color: #0e0e0e;
	border: 1px solid black;
	color: white;
}

button.secondary {
	background-color: #DDDDDD;
	border: 1px solid white;
}

button.no-border {
	border: none;
	min-width: 0;
}

button.no-border-dark {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	min-width: 0;
	color: white;
	font-size: 1.5rem;
	line-height: 1rem;
}

button.dark {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
	font-size: inherit;
	font-family: inherit;
	color: white;
}

button.primary-dark {
	background-color: white;
	border: 1px solid #0e0e0e;
	color: #0e0e0e;
	font-weight: 700;
}

button.secondary-dark {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: 1px solid white;
}

button.link {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	min-width: 0;
	/* font-weight: 700; */
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;

	&.dark {
		color: white;
	}
}

button:focus:not(:focus-visible) {
	outline: none;
}

textarea {
	font-family: var(--font-body);
}

input.dark {
	background-color: #444444;
	color: white;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}